.logo       { grid-area: logo; }
.header     { grid-area: header; }
.risk1      { grid-area: risk1; }
.risk2      { grid-area: risk2; }
.risk3      { grid-area: risk3; }
.risk4      { grid-area: risk4; }
.description { grid-area: description; }
.solution   { grid-area: solution; }
.footer     { grid-area: footer; }
.welcome_msg { grid-area: welcome_msg; }

.grid-container {
  display: grid;
  grid-template-areas:
    'logo header'
    'welcome_msg welcome_msg'
    'risk1 risk2'
    'risk3 risk4'
    'description description'
    'solution solution'
    'footer footer';
  grid-gap: 10px;  
}

.arrow { display: none; }

@media only screen and (min-width: 600px) {
    .logo { grid-area: 1 / 1 / 6 / 2; }
    .header { grid-area: 1 / 2 / 2 / 3; }
    .risk1 { grid-area: 2 / 2 / 3 / 3; } 
    .risk2 { grid-area: 3 / 2 / 4 / 3; }
    .risk3 { grid-area: 4 / 2 / 5 / 3; }
    .risk4 { grid-area: 5 / 2 / 6 / 3; }
    .description { grid-area: 6 / 1 / 7 / 3; }
    .solution { grid-area: 7 / 1 / 8 / 3; }
    .footer { grid-area: 9 / 1 / 10 / 3; }
    .welcome_msg { grid-area: 2 / 2 / 3 / 3; }
    
}

@media only screen and (min-width: 768px) {
    .logo { grid-area: 1 / 1 / 4 / 2; }
    .header { grid-area: 1 / 2 / 2 / 4; }
    .risk1 { grid-area: 2 / 2 / 3 / 3; } 
    .risk2 { grid-area: 2 / 3 / 3 / 4; }
    .risk3 { grid-area: 3 / 2 / 4 / 3; }
    .risk4 { grid-area: 3 / 3 / 4 / 4; }
    .description { grid-area: 6 / 1 / 7 / 4; }
    .solution { grid-area: 7 / 1 / 8 / 4; }
    .footer { grid-area: 9 / 1 / 10 / 4; }
    .welcome_msg { grid-area: 2 / 2 / 3 / 4; }
  }  
  
@media only screen and (min-width: 992px) {
    .logo { grid-area: 1 / 1 / 3 / 2; }
    .header { grid-area: 1 / 2 / 2 / 6; }
    .risk1 { grid-area: 2 / 2 / 3 / 3; } 
    .risk2 { grid-area: 2 / 3 / 3 / 4; }
    .risk3 { grid-area: 2 / 4 / 3 / 5; }
    .risk4 { grid-area: 2 / 5 / 3 / 6; }
    .description { grid-area: 4 / 1 / 5 / 3; }
    .solution { grid-area: 4 / 3 / 5 / 6; }
    .footer { grid-area: 5 / 1 / 6 / 6; }
    .welcome_msg { grid-area: 2 / 2 / 3 / 6; }
    .arrow { display: block; }
    .arrow_inj { grid-area: 3 / 2 / 4 / 3; }
    .arrow_bro { grid-area: 3 / 3 / 4 / 4; }
    .arrow_sens { grid-area: 3 / 4 / 4 / 5; }
    .arrow_xml { grid-area: 3 / 5 / 4 / 6; }
  } 