.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 10px;
    font-size: 14px;
  }

  .grid-container {
    background-color: #2196F3;
    padding: 10px;
  }

  .logo {
    text-align: left;
  }

  .logo > img {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  .risk1, .risk2, .risk3, .risk4 {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-container > div.arrow {
    height: 20px;
    background-color: #2196F3;
    text-align: center;
  }

  .grid-container > div.arrow > img {
    height: 30px;
  }
  .grid-container > div.footer {
    background-color: #2196F3;
  }

  .chosen {
    border-color: lightskyblue;
    border-style: solid;
    border-width: 5px;
    color:rgb(36, 146, 219);
    font-weight: bolder;
  }
  
  a {
    text-decoration: none;
  }
